.background-gradient {
    height: 100vh;
    width: 100%; 
    background: #599fd9;
    background: -webkit-linear-gradient(to right, #599fd9, #c2e59c);
    background: linear-gradient(to right, #599fd9, #c2e59c);
    overflow-x: hidden;
}
.blanck-pad{
  padding: 2em;
  padding-bottom: 4em;
}

.blank-screen{
   
    background-color: rgb(240, 240, 240);
    padding: 1em;
    -webkit-box-shadow: inset 6px 10px 116px -47px rgba(0,0,0,0.23);
    -moz-box-shadow: inset 6px 10px 116px -47px rgba(0,0,0,0.23);
    box-shadow: inset 6px 10px 116px -47px rgba(0,0,0,0.23)
}
.vertical-nav {
    min-width: 15rem;
    width: 15rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
  }
  .page-content {
    width: calc(100% - 15rem);
    margin-left: 15rem;
    transition: all 0.4s;
  }  
  footer {
    position: fixed;
    height: 3em;
    bottom: 0;
    width: calc(100% - 15rem);
    margin-left: 15rem;
    background-color: rgba(0, 0, 0, 0.3);

}
.footer-text{
    text-align: center;
    font-weight: bold;
}
.table-scroll{
  max-height: calc(100vh - 15.5em);
  overflow: auto;
}