<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">    {% block styles %}
    <link rel="stylesheet" href="{{ url_for('static',filename='bootstrap-4.3.1-dist/css/bootstrap.min.css') }}" type="text/css">
    {% endblock %}
    {% block head %}{% endblock %}
</head>
<body class="background-gradient">
    {% include "navbar.html" %}
    <div class=" page-content content">
        <div class=blanck-pad>
            <div class="blank-screen">
                {% block body %}
                {% endblock %}
            </div>
        </div>
    </div>
    <footer >
            <p class="footer-text text-light">Copyright 2019</p>
    </footer>
<script src="{{ url_for('static',filename='bootstrap-4.3.1-dist/js/bootstrap.min.js') }}"></script>
</body>
</html>