{% from 'bootstrap/nav.html' import render_nav_item %}

<nav class="vertical-nav bg-dark ">
    <ul class="navbar-nav mr-auto ">
        <li class="nav-item ">
            <a class="nav-link text-light" href='/'>
                <i class="mr-3"></i>
                Home
            </a>
        </li>
        <li class="nav-item ">
            <a class="nav-link text-light"href='/config'>
                <i class="mr-3"></i>
                Configuration
            </a>
        </li>
        <li class="nav-item ">
            <a class="nav-link text-light"href='/admin'>
                <i class="mr-3"></i>
                Administration
            </a>
        </li>
    </ul>
</nav>